.body{
    color: azure;
}

.fixed-card{
    min-height: 200px;
    max-height: 300px;
}
.mid-auto{
    margin: auto;
    padding: auto;
    margin-left: 42.5%;
}

.image{
    width: 100%;
    height: 60px;
}
  
  .timer {
    font-family: sans-serif;
    display: inline-block;
    margin-left: 10%;
    padding: 24px 32px;
    border-radius: 30px;
    background: #f0f0f0;
  }
  
  .timer__part {
    font-size: 26px;
    font-weight: bold;
  }

  /* Loader */
.loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 80px;
    height: 80px;
    padding-left: 0;
  }
  .loader:after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fa9c23;
    border-color: #fa9c23 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* Sets the containers height and width */
.base-timer {
    position: relative;
    height: 300px;
    width: 300px;
  }
  
  /* Removes SVG styling that would hide the time label */
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  /* The SVG path that displays the timer's progress */
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }

  .options:hover {
      cursor: pointer;
  }

  .offset-360 {
    align-items: center;
  }

  /* Generating Waves */
  @import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

/* h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
} */
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wave-margin {
  margin-top: -20px;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:15vh! important;
  text-align:center;
  background-color: white;
  margin-top: 0px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

  @media screen and (min-width: 260px) and (max-width: 359px) {
    .offset-360 {
      align-items: center;
      margin-top: 100px;
      margin-left: -40%;
    }
  }

  @media screen and (max-width: 420px) and (min-width: 360px) {
    .offset-360 {
      align-items: center;
      margin-top: 100px;
      margin-left: -40%;
    }
  }

  .navbar {
    max-height: 60px! important;
  }

  .nav {
    margin-top: -5px;
    max-height: 40px;
  }

  .nav-item {
    max-height: 40px;
  }

  .rounded-user {
    margin-top: -8px;
    border-radius: 50% !important;
}

.module {
  min-height: 2.97rem;
  max-height: 2.99rem;
}

.question-card {
  min-width: 200px;
  max-width: none;
}

.module-broad {
  min-height: 4.97rem;
  max-height: 4.99rem;
}

@media screen and (min-width: 330px) and (max-width: 500px) {
  .navbar {
    max-height: 120px !important;
  }

  .navbar-brand {
    font-size: 1.1rem !important;
  }
}

@media screen and (min-width: 420px) and (max-width: 630px) {
  .question-card > h3 {
    font-size: 1.25rem !important;
  }

  .question-card > div > h4 {
    font-size: 1.1rem !important;
  }

  .col-3 > h4 {
    font-size: 1.2rem !important;
  }

  .timer__part {
    font-size: 16px !important;
  }

  .timer {
    padding: 16px 24px;
  }
}

@media screen and (min-width: 330px) and (max-width: 420px) {
  .question-card > h3 {
    font-size: 0.8rem !important;
  }

  .question-card > div > h4 {
    font-size: 0.7rem !important;
  }

  .col-3 > h4 {
    font-size: 0.9rem !important;
  }

  .timer__part {
    font-size: 14px !important;
  }

  .timer {
    padding: 14px 21px;
  }
}

@media screen and (min-width: 295px) and (max-width: 345px) {
  .navbar {
    max-height: 300px !important;
  }

  .nav-item {
    font-size: 0.75rem !important;
  }
}